 /*=================================================
 contact page style =======================*/

 *{
  margin:0;
  padding:0;
 
 }
 body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

 header{
  background-color: rgb(94, 146, 251);
  color:white;
  font-size:24px;
  text-align: center;
  margin-bottom:10px;
  padding:10px;
 }
 #nav{
  margin: 10px auto 10px;
 }
 #nav a{
  color:#ffffff;
  font-size: 18px;
 }
  #nav a:hover{
  color:#f5d65c;
 }

main{
  min-height: 100vh;
  background: url('contact.webp');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat ;
 flex-grow: 1;
}
.contact-page{
 display:flex;
  justify-content:center;
  gap:80px;
  padding:40px;

}

.contact-page h2{
  font-size: 30px;

}
    .contact-box{
      height: fit-content;
       display:flex;
       flex-direction: column;
       justify-content:flex-start;
       align-items: flex-start;
         gap:10px;
         font-size: 20px;
        padding:20px;

       background-color: rgba(179, 179, 179, 0.5);
       color: #000000;
       font-weight:600;
       border-radius:8px;
}

#message_send{
    background-color:rgb(127, 172, 255);
    width:90%;
    max-width:280px;
    margin-right: 40px;
    padding: 20px;
    font-size:30px ;
    border-radius: 12px;
    gap:10px;
} 
#message{
  font-size: 24px;
  text-align: center;
  color:#ffffff;
}
#contact-form{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  justify-content: center;
  padding:10px;
}
#contact-form input,textarea{
  font-size:18px;
  border-radius: 12px;
  padding:8px;
  
}
 #contact-form input:focus{
   outline: 2px solid #ffc978;
 }
#contact-message{
  color:rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  margin-top:5px;
}
 button{
  width:100%;
  margin:auto;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(231, 94, 9);
  color:#ffffff;
  padding:10px;
 }
 button:hover{
  background-color: rgb(236, 77, 20);
  transform: scale(1.05);
  cursor: pointer;
 }
 footer{
background:#1f1f1f;
  color:#e0e0e0;
  text-align:center;
  padding:10px;
  font-size:18px;
  margin-top: 10px;
}

footer span{
  opacity:0.9;
}

footer span:hover{
  opacity:1;
}
/* ===============================
   Responsive Design (720px)
=================================*/
@media (max-width:600px) {

  header {
    font-size: 18px;
    padding: 15px;
  }
main{
  background: none;
}

  #nav a {
    font-size: 16px;
  }

  .contact-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }

  .contact-page h2 {
    font-size: 22px;
    text-align: center;
  }

  .contact-box {
   width:80%;
 max-width:280px;
    font-size:14px;
    padding:4px;
  }

  #message_send {
     width: 80%;
 max-width:280px;
 margin: auto;
    font-size: 20px;
    padding: 15px;
    gap: 5px;
  }
.contact-form{
    padding:0px;
}
  #contact-form input,
  #contact-form textarea {
    width:90%;
    font-size:16px;
  }

  button {
    font-size: 16px;
  }

  #contact-message {
    font-size: 14px;
    text-align: center;
  }
}