:root{

  --bg-main:#f1f1f1;
  --card-bg: #ffffff;
  --primary-colour : #FFB703;
  --secondary-color : #FB8500;
 --text-color:#000000;
--text-white:#ffffff;
 --warning-color: rgb(135, 0, 0);
 --success-color: rgb(4, 111, 4);
 
}





/*==========================
Main page style */     
      
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
    html,body{
      width: 100%;
min-height: 100vh;
 font-family:Arial , sans-serif;
background-color:var(--bg-main);
 scroll-behavior: smooth;
          
 }  

      header{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        color:var(--primary-colour);
        padding:10px;
}

#store-title{
  position: relative;
  right:120px;
  text-align: left;
  font-size:36px;
  font-weight: bold;
  font-style: italic;
}

.search input{
  font-weight: bold;
}
#searchbox {
font-size:24px;
color :var(--text-color);
border-radius:8px;
padding:6px;
box-shadow: 0 8px 10px rgba(194, 228, 189, 0.179);
}
#searchbtn{
  padding:4px;
     background-color: var(--text-white);
  font-size:18px;
  border-radius: 8px;
  transition:transform 0.3 ease;
}
#searchbtn:hover{
  cursor: pointer;
    transform: scale(1.03);
}
#searchbtn img{
width:30px;
height:25px;
}
#result{
  text-align: center;
color:var(--secondary-color);
font-size:18px;
}
#result:hover{
cursor:pointer;
}
.user-actions{
  display: flex;
  align-items: center;
  gap:15px;
}
.login-link img,
.cart_whole img {
  width: 48px;
  height:36px;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
}

.login-link img:hover,
.cart_whole img:hover {
  transform: scale(1.08);
}
.nav{
  margin:20px auto;
  background: var(--card-bg);
  padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
  gap:40px;
    font-size:24px;
    border-radius: 12px;
  }
  .nav a{
    color:var(--text-color);
    text-decoration: none;
  }
  .nav a:hover{
    color:var(--secondary-color);
  }
 
       main {
                  text-align:center;
                  background-color:var(--bg-main);
                  color:var(--text-color);
                      
}
.middle-container{
    overflow-x: hidden;
  height:320px;
  margin: 10px auto;
  padding: 10px;
  font-size:48px;
  font-style: italic;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:5px;
  letter-spacing: 1px;
  background: 
linear-gradient(rgba(0,0,0,0.05),rgba(0, 0, 0, 0.05)),
url(books-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:var(--text-white);
}
.middle-container p {
  margin-left:60px;
}
.middle-container span{
  font-size: 14px;
   margin-left:60px;
   color:var(--primary-colour)
}
.offers-container{
  padding:10px;
  margin: 40px auto;
  display: flex;
  justify-content:center;
  align-items:center;
  gap:80px;

}
.offers-container img{ 
  width:50%;
   max-width:420px;
  height: 240px;       
  object-fit: cover; 
  border-radius:12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.offers-container img:hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
#cart_message{
font-size:18px;
text-align:center;
margin-top:5px;
}
.cart_whole{
display:flex;
font-size:20px;
align-items : center;
 }

#cart-count{
  display: none;
color: var(--text-color);
}
.cart_whole:hover #cart-count{
  display: block;
}
#menu-btn{
  display: none;
}
.mob-nav{
  display: none;
}

 
#product-heading ,#offers-heading{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin:40px 60px 30px;
 }

.products {
margin: 30px 60px;
  display: flex;
  gap: 10px;
  overflow-x: auto; 
overflow-y: hidden;
scroll-behavior: smooth;  
}
.products::-webkit-scrollbar {
  display: none;
}
.slider {
  position: relative;
  display: flex;
  align-items: center;

}

#L-slideBtn,
#R-slideBtn {
  font-size: 24px;
position: absolute;
  top:40%;
  transform: translateY(-50%);
 background: rgba(0, 0, 0, 0.4);   
  color: white;
  color: var(--text-white);
  border: none;
  padding:10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}
#L-slideBtn {
left: 40px;
}

#R-slideBtn {
  right: 40px;
}

.p{
  flex: 0 0 220px; 
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: flex-start;
  
  padding: 10px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.005);
}

.price{
  font-size: 24px;
  color:var(--secondary-color);
  font-weight: bold;
}
.p a{
  font-size: 18px;
  color:var(--text-color);
}
.p a:hover{
  color: var(--primary-colour);
}
.p img{
  width:80%;
  height:180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.p img:hover{
   transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.btn{
  display: flex;
  gap:10px;
}
.p_button , .d_button {
  color:var(--text-dark);
  border-radius:30px;
  font-size:18px;
  padding:4px 10px;
 
}



.p_button:hover {
background-color:var(--secondary-color);
cursor:pointer;
}
.d_button:hover {
background-color:red;
cursor:pointer;
}

footer{
  margin-top:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a71;
  color:var(--text-white);
  gap:20px;
  font-size: 20px;
}

#social-links {
  color:var(--text-white);
  display:flex;
  gap:30px;
}
/*css reacting to js */



button:disabled {
background-color :grey;
color:#000000;;
cursor :not-allowed;
}
#info{
  margin-top:10px;
  font-size:18px;
  font-weight:bold;
  text-align: center;
  color:rgb(255, 255, 255);
  font-style: italic;
}
 /* Media Query for mobile */
@media (max-width:1050px) {
  header {
 margin:10px auto;
 gap:10px;
  padding: 10px;
  }

.search{
  width: 70%;
  max-width: 240px;
}
  #store-title {
     position: static;
    font-size:26px;
  }
  
  #searchbox {
    width:80%;
    font-size:16px;
  }

  #searchbtn {
    width:30px;              
    height:30px;          
    padding:0;  
           
  }

  #searchbtn img {
    width:20px;
    height:20px;
  }
  .user-actions{
gap:8px;
  }
  .login-link img , .cart_whole img{
  width:20px ;
    height:28px ;

  }
  /* Navigation */
  
  #menu-btn{
background: #f1f1f171;
   display: block;
  position: fixed; 
 right:2px;
  top: 10px;
  z-index: 2000;
  border-radius:24px;
 font-size:16px;
  }
  .nav {
    display: none;
  }
  .mob-nav{
  position: fixed;
  top:0;
 right:-100%;
  width:70%;
  max-width:260px;
  height:100vh;
  background: var(--card-bg);
  display:flex;
  flex-direction: column;
     justify-content: flex-start; /* start from top */
    align-items: flex-start;      /* align left for links */
    padding-top:40px;   
  gap:10px;
  transition:0.3s ease;
  z-index:1000;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
  }
 .mob-nav a {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
}
.mob-nav.open {
    right: 0;
}
.middle-container{
  height:160px;
  margin: 20px auto;
  font-size:24px;
}
.middle-container p {
  margin-left:0px;
}
.middle-container span{
  font-size:12px;
   margin-left:0px;
}
.offers-container{
  padding:5px;
  margin:10px auto;
  flex-direction: column;
  gap:40px;

}
.offers-container img{ 
  width:80%;
   max-width:240px;
  height:140px;       
}
  /* Product heading */
  #product-heading ,#offers-heading{
    font-size: 24px;
    padding: 10px;
    margin: 20px 10px;

  }

  /* Products layout */
  .products {
  margin: 10px 40px;
    gap: 20px;
  }

  /* Individual product cards */
  .p {
    width:80%;
    max-width:180px;
    padding: 10px;
    border-radius: 12px;
  }

  .p img {
    width: 100%;
    border-radius: 12px;
  }

  .p a {
    font-size: 16px;
  }
#L-slideBtn,
#R-slideBtn {
  font-size: 14px;
  top:30%;
}


.cart_whole:hover #cart-count{
  display: none;
}

  /* Buttons */
  button {
    font-size: 16px;
    padding: 6px 8px;
  }

  /* Footer */
  footer {
    font-size:12px;
    gap:8px;
    padding:6px;
  }
#info{
  padding: 0%;
  font-size:12px;
}
  #social-links {
    gap: 20px;
  }
}